<!DOCTYPE html>
 <html ng-app="main">
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title></title>
     <link href="assets/css/vendors.min.css" rel="stylesheet" />
     <link href="assets/css/styles.min.css" rel="stylesheet" />
     <link href="assets/css/style.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   </head>
   <body ng-controller="mainCtrl">
     <div class="main-container">

       <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2E3D54 !important; margin-left: 0px !important;">
         <ul class="nav">
           <a href="#" data-toggle="modal" data-target="#exampleModal"><li class='pull-left'>
             <i class="fa fa-pencil-square-o fa-5x white-text"></i>
           </li></a>

           <span class="white-text our-logo">
                IdeaBox
           </span>
           <li class="pull-right">
             <i class="fa fa-cog fa-5x white-text"></i>
           </li>
        </ul>
       </nav>
       <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="">

        <div class="element-block our-body">

          <div class="row">

            <div class="col-lg-3 col-md-6" ng-repeat="idea in ideas | orderBy : '-created_at'">
              <div class="card bg-facebook white-text" style="background-color: {{getColor()}}">
                <div class="card-content">
                  <div style="min-height: 140px;">
                    <h1 class="f18 lh-13 w300 no-margin white-text">{{idea.title}}</h1>
                    <h2 class="f18 lh-13 w300 no-margin white-text">{{idea.content}}</h2>
                    <h5 class="f11 no-margin blue-text lighten-4 p-b-25">{{idea.created_at | date}}</h5> </div>
                  <div class="pull-right p-5"> <i class="fa fa-thumbs-o-up"></i> 3 &nbsp;&nbsp; <i class="fa fa-comment-o"></i> 0 </div> <i class="fa fa-google f18"></i> </div>
              </div>
            </div>

          </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New Idea</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Title:</label>
                    <input type="text" class="form-control" id="recipient-name" ng-model="idea.title">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Idea:</label>
                    <textarea class="form-control" id="message-text" ng-model="idea.content"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addIdea(idea)">Add</button>
              </div>
            </div>
          </div>
        </div>

        </div>
    </div>
     </div>
     <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script charset="utf-8" src="assets/js/app.js"></script>
     <script charset="utf-8" src="libs/angular/angular.min.js"></script>
     <script charset="utf-8" src="app/app.js"></script>
     <script charset="utf-8" src="app/services/baseUrl.js"></script>
     <script charset="utf-8" src="app/services/channelService.js"></script>
     <script charset="utf-8" src="app/services/ideaService.js"></script>
     <script charset="utf-8" src="app/services/remarkService.js"></script>
     <script charset="utf-8" src="app/controller/mainCtrl.js"></script>
   </body>
 </html>
